# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
*.env

# Distribution / packaging
*.egg-info/
.dist/
build/
develop-eggs/

# Python test and coverage
.tox/
.nox/
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor specific
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# dotenv configuration files
.env
